
<!-- Header and Nav -->
  
  <div class="row">
    <div class="three columns">
      <h1><img src="http://placehold.it/300x400&text=WilsonQuarterly" /></h1>
      <ul class="nav-bar vertical">
        <li><a href="#">Current Issue</a></li>
        <li><a href="#">In Essence</a></li>
        <li><a href="#">Book Reviews</a></li>
        <li><a href="#">Previous Issues</a></li>
        <li><a href="#">Subscribe</a></li>
        <li><a href="#">About</a></li>
      </ul> 
    </div>
    <div class="nine columns">
      <div class="row">
        <div class="row three columns push-six">
          <a href="#">Login</a> | <a href="#">My Account</a>
        </div>  
            
        <div class="row collapse four columns">
          <div class="eight mobile-three columns">
            <input type="text" />
          </div>
          <div class="four mobile-one columns">
            <a href="#" class="postfix button expand">Search</a>
          </div>
        </div>    
      </div>
      <!-- main feature -->
      <div class="row">
        <div>Summer 2012</div>
        <div><h1>Beyond the brain</h1></div>
      </div>
      <div class="row">
        <div class="six column">
          <h4>In the 1990s, scientists declared that
          schizophrenia and other psychiatric
          illnesses were pure brain disorders
          that would eventually yield to drugs.
          Now they are recognizing that social
          factors are among the causes, and
          must be part of the cure.</h4>
          <h5><a href="/article">READ FULL ARTICLE >></a></h5>
          <h5><a href="#">SEE THE ENTIRE ISSUE >></a></h5>
        </div>
        <div class="six column">
          <img src="http://placehold.it/600x600&text=FeaturedImage" />
        </div>
      </div>
      <!-- end main feature -->
      <!-- Rotator -->
      <div id="featured">
        

      <!-- start c1 -->
        <div class="panel">
          <div class="row">
            <div class="six column">
              <img src="http://www.wilsonquarterly.com/admin/cffm/custom/convention2.jpg" />
            </div>
            <div class="six column">
    				<div class="row">
    					<div class="left">
    						Summer 2012
    					</div>
    					<div class="left">
    						<h2>The Campaign Triumphant</h2>
    					</div>
    				</div>
    				<div class="row">
    					<h4>“The people have nominated you without any pledges or engagements of any sort . . . and they want you to do nothing at present but allow yourself to be elected,” the poet and newspaper editor William Cullen Bryant told Abraham Lincoln in 1860. “Make no speeches, write no letters as a candidate, enter into no pledges, make no promises.”
              </h4>
    						<h5><a href="#">READ FULL ARTICLE >></a></h5>
    						<h5><a href="#">SEE THE ENTIRE ISSUE >></a></h5>
    				</div>
  			  </div> 
  			</div>  
  		  </div>	<!-- end c1 -->

      <!-- start c2 -->
        <div class="panel">
          <div class="row">
            <div class="six column">
              <img src="http://www.wilsonquarterly.com/admin/cffm/custom/childbeyondgate1.jpg" />
            </div>
            <div class="six column">
            <div class="row">
              <div class="left">
                Summer 2012
              </div>
              <div class="left">
                <h2>The Withering of the Affluent Society</h2>
              </div>
            </div>
            <div class="row">
              <h4>The future of affluence is not what it used to be. Americans have long believed—it’s part of our national character—that our economic well-being will constantly increase. We see ourselves as a striving, inventive, and pragmatic people destined for higher living standards.</h4>
                <h5><a href="#">READ FULL ARTICLE >></a></h5>
                <h5><a href="#">SEE THE ENTIRE ISSUE >></a></h5>
            </div>
          </div> 
        </div>  
        </div>  <!-- end c2 -->
  
      </div> <!-- end carousel -->        
      
    </div> <!--- end right top -->
  </div>  <!-- end top section -->
  <!-- End Header and Nav -->
  
  <!-- Optional Ad Space -->
  <div class="row">
    <div class="twelve column panel text-center"><h3 class"">Optional Ad Space</h3></div>
  </div>
  <!-- End Optional Ad Space -->
  
  <!-- Information Panels -->
  <div class="row">
    <div class="four column"><img src="http://placehold.it/600x600&text=AboutWilsonQuarterly" /></div>
    <div class="four column"><img src="http://placehold.it/600x600&text=OurHistory" /></div>
    <div class="four column"><img src="http://placehold.it/600x600&text=Subscribe" /></div>
  </div>
  <!-- End Information Panels -->
  
 <!-- Optional Ad Space -->
  <div class="row">
    <div class="six column"><img src="http://placehold.it/600x600&text=OptionalAdSpace" /></div>
    <div class="six column"><img src="http://placehold.it/600x600&text=OptionalAdSpace" /></div>
  </div>
  <!-- End Optional Ad Space -->

  <!-- Footer -->
  
  <footer class="row">
    <div class="twelve columns">
      <hr />
      <div class="row">
        <div class="six columns">
          <p>&copy; Copyright no one at all. Go to town.</p>
        </div>
        <div class="six columns">
          <ul class="link-list right">
            <li><a href="#">Section 1</a></li>
            <li><a href="#">Section 2</a></li>
            <li><a href="#">Section 3</a></li>
            <li><a href="#">Section 4</a></li>
          </ul>
        </div>
      </div>
    </div> 
  </footer>