<div class="row">
    <div class="three columns">
     <%= erb :menu %>
     <div class="panel">
      <img src="http://placehold.it/300x400&text=Subscribe" />
     </div>
     <div class="panel">
      <img src="http://placehold.it/300x400&text=Download%20Our%20App" />
     </div>
    </div>
    <div class="nine columns">
      
      <div class="row">
        <div class="row three columns push-six">
          <a href="#">Login</a> | <a href="#">My Account</a>
        </div>  
            
        <div class="row collapse four columns">
          <div class="eight mobile-three columns">
            <input type="text" />
          </div>
          <div class="four mobile-one columns">
            <a href="#" class="postfix button expand">Search</a>
          </div>
        </div>    
      </div>

      <div class="row">
        <div><h4>Summer 2012</h4></div>
        <div class="row">
        <div class="seven columns"><h1>Beyond The Brain</h1></div><div class="five columns"><span class="[medium, round] button">Share</span></div></div>
      </div>
      <div class="row">
        <div class="eight column">
          <img src="http://placehold.it/400x400&text=FeaturedImage" />
          <p>In the 1990s, scientists declared
          that schizophrenia and other
          psychiatric illnesses were pure
          brain disorders that would
          eventually yield to drugs. Now
          they are recognizing that social
          factors are among the causes,
          and must be part of the cure.
          Now they are recognizing that.</p>
          <p>By the time I met her, Susan was a success story. She was a
          student at the local community college. She had her own
          apartment, and she kept it in reasonable shape. She did not
          drink, at least not much, and she did not use drugs, if you did not
          count marijuana. She was a big, imposing black woman who
          defended herself aggressively on the street, but she had not
          been jailed for years. All this was striking because Susan clearly
          met criteria for a diagnosis of schizophrenia, the most severe
          and debilitating of psychiatric disorders. She thought that people
          listened to her through the heating pipes in her apartment. She
          heard them muttering mean remarks.</p>
          <p>Twenty years ago, most psychiatrists would have agreed
          that Susan had a brain disorder for which the only
          reasonable treatment was medication. They had learned
          to reject the old psychoanalytic ideas about
          schizophrenia, and for good reasons. The pain of this
          mistake still reverberates through the profession. In
          psychiatry it is now considered not only incorrect but
          morally wrong to see the parents as responsible for their
          child’s illness. I remember talking to a young psychiatrist
          in the late 1990s, back when I was doing an
          anthropological study of psychiatric training.</p>
          <p>To signal how much psychiatry had changed since its tweedy psychoanalytic days, the
          National Institute of Mental Health designated the 1990s as the “decade of the brain.”
          Psychoanalysis and even psychotherapy were said to be on their way out. Psychiatry
          would focus on real disease, and psychiatric researchers would pinpoint the biochemical
          causes of illness and neatly design drugs to target them.</p>
           
        </div>
        <div class="four column">
            <div class="panel">
              <h4 class="text-center">Related Articles</h4>
              <ul class="link-list vertical">
                <% 5.times do %>
                <li><a href="#">This is a Related Article</a>
                  <p>Read this article because it
                  relates to this topic.</p></li>
                <% end %>
              </ul>
            </div>
             <div style="float:left">
             <dl class="tabs two-up">
                <dd class="active"><a href="#simple1">Most Viewed</a></dd>
                <dd><a href="#simple2">Most Commented</a></dd>                
            </dl>

            <ul class="tabs-content">
              <li class="active" id="simple1Tab">  <h4 class="text-center">Most Viewed Articles</h4>
              <ul class="link-list vertical">
                <% 5.times do %>
                <li><a href="#">This is a Popular Article</a>
                  <p>Read this article because it
                  is very popular in this topic.</p></li>
                <% end %>
              </ul> </li>
              <li id="simple2Tab"> <h4 class="text-center">Most Commented Articles</h4>
              <ul class="link-list vertical">
                <% 5.times do %>
                <li><a href="#">This is a Commented Article</a>
                  <p>Read this article because it was heavily commented.</p></li>
                <% end %>
              </ul></li>
            </ul>
            </div>
        </div>
      </div> <!--- end row -->
    </div> <!--- end right column -->
</div> <!--- end top section-->   
<div class="row">
  <div class="nine columns"><h4>Comments (12):</h4></div>
  <div class="three columns"><h6><a href="#">Login</a> to post comments</h6></div>
</div>     
<div class="row">
<h7>05/22/12 11:29 EDT | John Walker | Report as Inappropriate</h7>
<p>“Nulla facilisi. Sed vestibulum nulla eu metus. Aliquam consectetuer nulla nec enim. Suspendisse pede. Proin enim.
Donec leo. Curabitur tincidunt.…”</p>
<h7>05/22/12 11:29 EDT | John Walker | Report as Inappropriate</h7>
<p>“Nulla facilisi. Sed vestibulum nulla eu metus. Aliquam consectetuer nulla nec enim. Suspendisse pede. Proin enim.
Donec leo. Curabitur tincidunt.…”</p>
</div>